<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.forum.home.title">Forums</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-forum" [routerLink]="['/forum/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="App.forum.home.createLabel">
            Create a new Forum
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="forums?.length === 0">
        <span jhiTranslate="App.forum.home.notFound">No forums found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="forums && forums.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="App.forum.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="App.forum.handle">Handle</span></th>
                    <th scope="col" ><span jhiTranslate="App.forum.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let forum of forums ;trackBy: trackId">
                    <td><a [routerLink]="['/forum', forum.id, 'view']">{{ forum.id }}</a></td>
                    <td>{{ forum.name }}</td>
                    <td>{{ forum.handle }}</td>
                    <td>
                        {{ forum.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/forum', forum.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/forum', forum.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(forum)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
